.about {
    background-image: url("../images/aboutBackground.png");
    min-height: 800px;
}

.aboutContainer {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutContainer img {
    margin-right: 8.5%;
}

.nameLine {
    height: 5px;
    background: maroon;
    position: relative;
    right: 150px;
}

.aboutInfo h1,
.aboutInfo .nameLine {
    margin-bottom: 30px;
}

.topAboutP {
    margin-bottom: 42px;
}

.bottomAboutP {
    margin-bottom: 181px;
}

.infoProfessionalisim {
    position: relative;
    display: flex;
    align-items: center;
    right: 70px;
}

.outLine {
    position: absolute;
    border: 2px solid maroon;
    width: 138px;
    height: 138px;
    right: 269px;
}

.outLineContent h3 {
    margin-bottom: 17px;
}

.outLineContent {
    z-index: 9;
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .aboutContainer {
        flex-wrap: wrap;
    }

    .whoAmI,
    .aboutContainer img {
        width: 50%;
        margin: 0;
    }

    .infoProfessionalisim {
        right: 0;
    }

    .nameLine,
    .outLine {
        visibility: hidden;
    }

    .bottomAboutP {
        margin-bottom: 100px;
    }


}
