.about {
    color: black;
    background: white;
}

.about h1 {
    text-align: center;
}

.about .wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about .aboutContainer {
    display: flex;
    // min-height: 95vh;
}

.aboutMain {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

.headShot {
    width: 48%;
    display: flex;
    background-image: url('../images/redconvert3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
}

.aboutInfo {
    width: 49.5%;
}


.headShot img {
    margin: auto;
    width: 261px;
    border: 3px solid #ac0014;
    border-radius: 50%;
}

.aboutInfo button {
    padding: 2px 5px;
    background: #ac0014;
    border-radius: 2px;
    width: 100px;
    display: block;
    margin: 0 auto;
}

.aboutInfo .Hide
{
    display: block;
    display: none;
    width: auto;
    padding: 5px 5px;
}

.gifPlayer {
    width: 300px;
    margin: 0 auto;
}

.about h2 {
    margin-bottom: 25px;
}

.bM{
   margin-bottom: 25px; 
}

.aboutThirdSpacing {
    margin-top: 25px;
}

@media (max-width: 850px) {
    .aboutMain {
        flex-direction: column;
    }

    .headShot {
        margin-bottom: 25px;
        background-position: center center;
        width: 100%;
    }

    .aboutInfo {
        width: 100%;
        margin: 0 auto;
    }

    .headShot img {
        width: 228px;
    }


}