button {
    padding: 0;
    border: none;
    background: none;
}

.blueButton {
    padding: 16px 65px;
    border-radius: 3px;
    background: blue;
    color: #FFFFFF;
    background-color: #629fd1;
    font-family: 'Open Sans';
    font-size: 1rem; 
    text-transform: uppercase;
    letter-spacing: 1px;
}