footer {
    min-height: 448px;
    background-image: linear-gradient(rgba(7,23,39,.9),rgba(7,23,39,.7)) ,url('../images/footer.jpg');
    background-size: cover;
    background-position: center;
}

footer .wrapper {
    display: flex;
    min-height: 448px;
}

.footerMain {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerMain img {
    display: block;
    margin-bottom: 25px;
}

.footerMain button {
    margin-bottom: 50px;
}

.footerMain .socialIcons {
    margin-bottom: 50px;
}

.formEmail {
    width: 100%;
}

.formNameInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footerMain input,
.footerMain button {
    border: none;
    margin-bottom: 15px;
    background-color: darkslategrey;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: .8rem;
    border-radius: 3px;
}

.footerMain .formInfo {
    width: 100%;
    padding-bottom: 200px;
}

.footerMain button {
    padding-right: 10px;
}

.formHolder {
    position: relative;
    
}

.footerMain form {
    position: absolute;
}

.firstName {
    margin-right: 10px;
}

