footer {
    min-height: 448px;
    background-image: linear-gradient(rgba(7,23,39,.9),rgba(7,23,39,.7)) ,url('../images/footer.jpg');
    background-size: cover;
    background-position: center;
}

footer .wrapper {
    display: flex;
    min-height: 448px;
}

.footerMain {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-top: 25px;
}

.footerMain img {
    display: block;
    margin-bottom: 25px;
}

.footerMain button {
    margin-bottom: 50px;
}

.footerMain .socialIcons {
    margin-bottom: 50px;
}

.formEmail {
    width: 100%;
}

.formNameInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footerMain input,
.footerMain button {
    border: none;
    margin-bottom: 15px;
    background-color: darkslategrey;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: .8rem;
    border-radius: 3px;
}

.footerMain .formInfo {
    width: 100%;
    padding-bottom: 100px;
}

.footerMain button {
    padding-right: 10px;
}

// .formHolder {
//     position: relative;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     overflow: hidden;
    
// }

.footerMain form {
    position: absolute;
    width: 400px;
    top: 25px;
    right: -400px;
    transition: right 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    
}

.firstName {
    margin-right: 10px;
}

// .toggleBox {
//   position:absolute;
//   appearance:none;
//   cursor:pointer;
//   left:-100%;
//   top:-100%;
// }

// .toggleBox + label {
//   position:absolute;
//   cursor:pointer;
//   padding:10px;
//   background: #26ae90;
// }

.toggleBox:checked ~ form {
  right: 10px;
}

.toggleBox {
    visibility: hidden;
}

@media (max-width: 1000px) {
    footer label {
        order: 1;
        margin-top: 10px;
        margin-bottom: 300px;
    }

    .footerMain>form {
        top: 400px;
        width: 360px;
    }
}
