header .wrapper {
    display: flex;
    justify-content: flex-end;
}
.headerNav {
    justify-content: flex-end;
    min-height: 100px;
    align-items: center;
    margin-right: 50px;
    min-width: 300px;
    text-align: right;
}

.headerContact {
    display: flex;
    align-items: center;
}

.headerContact a {
    padding-left: 10px;
    border-left: 1px solid #FFFFFF;
    margin-bottom: 10px;
}

.headerContact h3 {
    padding-left: 10px;
    margin-right: 10px;
    border-left: 1px solid #FFFFFF;
}

.dropdown {
    position: relative;
}

.dropdownContent {
    background: linear-gradient(to top, #071727, #071727);
    display: none;
    
}

.dropdown:hover .dropdownContent {
    display: block;
}

@media (max-width: 480px){
    .dropdownContent {
        display: block;
    }

    .contactButton {
        display: none;
    }
}