.landing {
    min-height: 100vh;
    // background-image: url('../images/landingBackground.png');
    background-position: center;
    background: url('../images/landingBackground.png');
    background-size: cover;
}

.landingContainer {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landingContainer img {
    margin-bottom: 129px;
}

.companyName {
    margin-bottom: 28px;
}

.landingContainer h2 {
    margin-bottom: 93px;
}

.landingContainer .blueButton {
    margin-bottom: 67px;
}

