.myServices {
    min-height: 800px;
    background-image: url('../images/aboutBackground.pngs');
    padding-top: 75px;
    padding-bottom: 185px;
}

.myServices h1,
.myServices h2 {
    text-align: center;
}

.myServices h1 {
    margin-bottom: 27px;
}

.myServices h2 {
    margin-bottom: 66px;
}

.servicesContainer {
    display: flex;
    float: left
}

.languages {
    display: flex;
    flex-wrap: wrap;
    width: 530px;
    justify-content: space-between;
    margin-right: 70px;
}


.language {
    display: flex;
    height: 270px;
    width: 170px;
    background-color: #081e34;
    margin-bottom: 10px;
}

.languageContainer {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

.skill {
    height: 43px;
    display: flex;
    padding-left: 26px;
    border-left: 5px solid;
    margin-bottom: 7px;
    align-items: center;
}

.skill:nth-child(1) {
    border-color: #FDD873;
}

.skill:nth-child(2) {
    border-color: #F58F4C;
}

.skill:nth-child(3) {
    border-color: #F25A52;
}

.skill:nth-child(4) {
    border-color: #E73958;
}

.skill:nth-child(5) {
    border-color: #461C40;
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .servicesContainer {
        flex-direction: column;
        width: 100%;
    }

    .languages {
        margin: 0;
        align-self: center;
    }
}
