.myWork {
    min-height: 100vh;
    background-image: url("../images/myServicesBackground.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.myWorkContainer{
    display: flex;
}

.project {
    width: 25%;
    height: 100vh;
    display: flex;
}

.projectLink {
    text-align: center;
    margin: auto;
    padding: 10px 10px;
    border-radius: 4px;
    position: relative;
    bottom: 30%;
}

.projectLink:hover {
    background-color: #071727;
    padding: 10px 10px;
    border-radius: 4px;
}

.projectLink h2{
    margin-bottom: 20px;
}

.projectOne.backGroundOn {
    background-image: url("../images/westerBros.jpg");
    background-attachment: center;
    background-size: cover;
}

.projectTwo.backGroundOn {
    background-image: url("../images/movieWatchList.jpg");
    background-attachment: center;
    background-size: cover;
}

.projectThree.backGroundOn {
    background-image: url("../images/bitRegret.jpg");
    background-attachment: center;
    background-size: cover;
}

.projectFour.backGroundOn {
    background-image: url("../images/over.jpg");
    background-attachment: center;
    background-size: cover;
}


@media (max-width: 480px) {
    .myWorkContainer {
        flex-wrap: wrap;
    }

    .project {
        width: 50%;
        height: 50vh;
    }
}


