.projects {
    // background: linear-gradient(to bottom, #17284c 0%,#3d64ad 50%);
    color: black;
}

.projects .wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}

.projectLanding {
    min-height: 5vh;
    display: flex;
}

.projectLanding h2 {
    margin: auto;
}

.projectHolder {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}

.pictureAlignedRight .projectPicture {
    order: 9;
}

// .projectInfo,
.projectPicture,
.projectInfoContainer {
    width: 49.5%;
}

.projectInfoContainer {
    display: flex;
    align-items: center;
}

.projectTitle,
.projectSkills {
    margin-bottom: 10px;
}

.projectTitle {
    display: flex;
    align-items: center;
}

.projectTitle img {
    width: 100px;
    margin-right: 15px;
}

.projectInfo {
    width: 90%;
}


.liveLinks {
    margin-bottom: 10px;
    display: flex;
}

.projectPicture img {
    border: 5px solid #ac0014;
    border-radius: 5px;
}

.liveLinks a:not(:last-child) {
    margin-right: 5px;
}

.projectSkills {
    display: flex;
}

.projectSkills h4:not(:last-child) {
    margin-right: 5px;
}

.projectLanding {
        justify-content: center;
    }

.pictureAlignedRight .projectTitle,
.pictureAlignedRight .projectSkills,
.pictureAlignedRight .liveLinks {
    justify-content: flex-end;
}

.pictureAlignedRight .projectInfoContainer {
    justify-content: flex-end;
}

@media (max-width: 850px) {

    .pictureAlignedRight .projectPicture {
        order: 0;
    }

    .projectHolder .projectPicture {
        order: 9;
    }

    .projectHolder {
        flex-direction: column;
    }

    .projectPicture {
        margin-bottom: 25px;
    }

    .projectPicture,
    .projectInfoContainer {
        align-self: center;
    }

    .projectPicture {
        width: 100%
    }

    .projectInfoContainer {
        width: 100%;
    }

    .projectTitle,
    .projectSkills,
    .liveLinks {
        justify-content: center;
    }

    .pictureAlignedRight .projectTitle,
    .pictureAlignedRight .projectSkills,
    .pictureAlignedRight .liveLinks {
    justify-content: center;
    }

    .pictureAlignedRight .projectInfoContainer {
    justify-content: flex-start;
    }

    .pictureAlignedRight p {
    text-align: left;
    }

    .projectInfoContainer p {
        margin-bottom: 10px;
    }

    .projectInfo {
        margin: 0 auto;
    }
}



