body {
    color: #fcffff;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

// This section for header

.headerContact a,
.headerContact h3 {
    font-size: 1rem;
    font-weight: 400;
}

//This section for Landing
.companyName {
    text-align: center;
}
.landingContainer h1 {
    font-size: 2.75rem;
    text-transform: uppercase;
}

.landingContainer h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: uppercase;
}

//THis section for about

.whoAmI {
    text-align: right;
    font-size: 4.5rem;
    text-transform: uppercase;
    line-height: 5.7rem;
}

.aboutInfo h1 {
    font-size: 1.438rem;
    letter-spacing: 2px;
    color: #629fd1;
    text-transform: uppercase;
}

.greyP {
    font-family: 'Open Sans', sans-serif;
    color: #abbcc8;
    line-height: 150%;
    font-size: .75rem;
}

.outLineContent h3 {
    font-size: .875rem;
}


//this section for skills
.myServices h2 {
    font-size: 1.625rem;
}

.myServices .greyP {
    text-align: center;
}


.language .svg-inline--fa,
.language i {
    font-size: 5rem;
}

.language .svg-inline--fa,
.language i,
.language p {
    color:#669FCF
}

//this section for footer
.socialIcons a {
    font-size: 2rem;
}

.footerMain p {
    font-family: 'Open Sans', sans-serif;
}


// font-family: 'Open Sans', sans-serif;
