
///LANDING PAGE

.landingAbout p {
    @include blackParagraph;
}

.landingInfo a {
    @include redSmallLink;
}

.landing h1 {
    @include largeMainHeader;
    text-align: center;
}

.landingAbout h2,
.landingProjects h2,
.landingSkills h2 {
    @include largeSecondaryHeader
}

.landingSkillsContainer h4 {
    @include skillsTag;
}




.landing .svg-inline--fa {
    font-size: 2rem;
}

////About Page
.about h1 {
    @include largeMainHeader;
}

.about h2 {
    @include largeSecondaryHeader;
}

.aboutInfo p {
    @include blackParagraph;
}

.redP {
    @include redParagraph;
}


///Project Page
.projectLanding h1 {
    @include largeMainHeader;
}

.projectTitle h2 {
    @include largeSecondaryHeader;
    letter-spacing: normal;
}

.projectSkills h4 {
    @include skillsTag;
}

.projectInfo p {
    @include blackParagraph;
}

///Footer Page
footer h2 {
    @include largeMainHeader;
}

.aboutInfo button {
    color: white;
    font-family: 'Pangolin', cursive;
}

footer .socialIcons a {
    font-size: 2rem;
}

