article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #071727; }

.wrapper {
  width: 91%;
  max-width: 1170px;
  margin: 0 auto; }

h1, h2, h3, h4, p {
  margin: 0; }

a {
  color: #fcffff;
  text-decoration: none; }

.logo {
  width: 320px; }

.fa-long-arrow-alt-down {
  font-size: 2rem; }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .wrapper {
    width: 100%;
    max-width: 940px; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .wrapper {
    width: 92%;
    max-width: 706px; } }

body {
  color: #fcffff;
  font-size: 16px;
  font-family: 'Rubik', sans-serif; }

.headerContact a,
.headerContact h3 {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif; }

.companyName {
  text-align: center; }

.landingContainer h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 60px;
  text-transform: uppercase; }

.landingContainer h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase; }

.whoAmI {
  text-align: right;
  font-size: 6.25rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 6.75rem; }

.aboutInfo h1 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 2px;
  color: #629fd1;
  text-transform: uppercase; }

.greyP {
  font-family: 'Open Sans', sans-serif;
  color: #abbcc8;
  line-height: 150%;
  font-size: 1rem; }

.outLineContent h3 {
  font-size: 1.25rem;
  font-weight: 700; }

.projectLink h2 {
  font-size: 1.5rem;
  font-weight: 700; }

.projectLink p {
  font-size: .8rem;
  font-family: 'Open Sans', sans-serif; }

.myServices h2 {
  font-size: 2.25rem;
  font-weight: 900;
  letter-spacing: 2px; }

.myServices .greyP {
  text-align: center; }

.language .svg-inline--fa,
.language i {
  font-size: 5rem; }

.language .svg-inline--fa,
.language i,
.language p {
  color: #669FCF; }

.skill p,
.language p {
  font-size: .875rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: white; }

.socialIcons a {
  font-size: 2rem; }

.footerMain p {
  font-family: 'Open Sans', sans-serif; }

button {
  padding: 0;
  border: none;
  background: none; }

.blueButton {
  padding: 16px 65px;
  border-radius: 3px;
  background: blue;
  color: #FFFFFF;
  background-color: #629fd1;
  font-family: 'Open Sans';
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

.contactButton {
  padding: 11px 30px;
  border-radius: 4px;
  background-color: #071727;
  color: white; }

header .wrapper {
  display: flex;
  justify-content: flex-end; }

.headerNav {
  justify-content: flex-end;
  min-height: 100px;
  align-items: center;
  margin-right: 50px;
  min-width: 300px;
  text-align: right; }

.headerContact {
  display: flex;
  align-items: center; }

.headerContact a {
  padding-left: 10px;
  border-left: 1px solid #FFFFFF;
  margin-bottom: 10px; }

.headerContact h3 {
  padding-left: 10px;
  margin-right: 10px;
  border-left: 1px solid #FFFFFF; }

.dropdown {
  position: relative; }

.dropdownContent {
  background: linear-gradient(to top, #071727, #071727);
  display: none; }

.dropdown:hover .dropdownContent {
  display: block; }

@media (max-width: 480px) {
  .dropdownContent {
    display: block; }
  .contactButton {
    display: none; } }

body .landing {
  min-height: 100vh;
  background: url("../images/landingBackground.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.landingContainer {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.landingContainer img {
  margin-top: 140px; }

.companyName {
  margin-bottom: 28px; }

.landingContainer h2 {
  margin-bottom: 93px; }

.landingContainer .blueButton {
  margin-bottom: 67px; }

/* Portrait tablet and small desktops */
.about {
  background-image: url("../images/aboutBackground.png");
  min-height: 100vh;
  padding-top: 25px; }

.aboutContainer {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center; }

.aboutContainer img {
  margin-right: 2.5%;
  height: 80vh; }

.nameLine {
  height: 5px;
  background: maroon;
  position: relative;
  right: 150px; }

.aboutInfo h1,
.aboutInfo .nameLine {
  margin-bottom: 30px; }

.topAboutP {
  margin-bottom: 42px; }

.bottomAboutP {
  margin-bottom: 181px; }

.infoProfessionalisim {
  position: relative;
  display: flex;
  align-items: center;
  right: 70px; }

.outLine {
  position: absolute;
  border: 2px solid maroon;
  width: 138px;
  height: 138px;
  right: 269px; }

.outLineContent h3 {
  margin-bottom: 17px; }

.outLineContent {
  z-index: 9; }

.sliderArrow {
  display: flex; }

.about a {
  margin: auto;
  padding-top: 50px; }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .aboutContainer {
    flex-wrap: wrap; }
  .whoAmI,
  .aboutContainer img {
    width: 50%;
    margin: 0; }
  .infoProfessionalisim {
    right: 0; }
  .nameLine,
  .outLine {
    visibility: hidden; }
  .bottomAboutP {
    margin-bottom: 100px; } }

@media (max-width: 480px) {
  .whoAmI {
    display: none; }
  .about img {
    width: 100%;
    object-fit: cover; } }

.myWork {
  min-height: 100vh;
  background-image: url("../images/myServicesBackground.jpg");
  background-position: 50% 75%;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: space-around;
  max-width: 1280px;
  position: relative; }
  .myWork:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, #071727, #071727);
    opacity: .7; }

.projectContainer {
  width: 23%;
  display: flex;
  align-items: flex-end; }

.project {
  width: 100%;
  height: 100vh; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); }

.projectLink {
  text-align: left;
  display: block;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  z-index: 9; }

.projectLink h2 {
  margin-bottom: 8px; }

.projectLink p {
  margin-bottom: 25px; }

.projectOne {
  background: url("../images/westerBros.jpg");
  background-size: cover; }

.projectTwo {
  background-image: url("../images/movieWatchList.jpg");
  background-size: cover;
  background-position: 50% 31%; }

.projectThree {
  background-image: url("../images/bitRegret.jpg");
  background-size: cover;
  background-position: 50% 100%; }

.projectFour {
  background-image: url("../images/over.jpg");
  background-size: cover; }

@media (max-width: 940px) {
  .myWork {
    flex-wrap: wrap; }
  .projectContainer {
    background-size: cover;
    background-repeat: no-repeat;
    width: 49%;
    height: 100vh;
    margin-bottom: 10px; }
  .projectOne {
    background-position: 50% 31%; }
  .projectTwo {
    background-position: 50% 50%; }
  .projectThree {
    background-position: 50% 114%; }
  .projectFour {
    background-position: 50% 50%; } }

@media (max-width: 480px) {
  .projectContainer {
    width: 80%;
    margin-bottom: 25px; } }

.myServices {
  padding-bottom: 50px;
  background-image: url("../images/aboutBackground.pngs");
  padding-top: 50px; }

.myServices h1,
.myServices h2 {
  text-align: center; }

.myServices h2 {
  margin-bottom: 25px; }

.myServices .greyP {
  margin-bottom: 66px; }

.servicesContainer {
  display: flex;
  float: left; }

.languages {
  display: flex;
  flex-wrap: wrap;
  width: 530px;
  justify-content: space-between;
  margin-right: 70px; }

.language {
  display: flex;
  height: 170px;
  width: 170px;
  background-color: #081e34;
  margin-bottom: 10px; }

.languageContainer {
  margin: auto;
  text-align: center;
  text-transform: uppercase; }

.skill {
  height: 43px;
  display: flex;
  padding-left: 26px;
  border-left: 5px solid;
  margin-bottom: 7px;
  align-items: center; }

.skill:nth-child(1) {
  border-color: #FDD873; }

.skill:nth-child(2) {
  border-color: #F58F4C; }

.skill:nth-child(3) {
  border-color: #F25A52; }

.skill:nth-child(4) {
  border-color: #E73958; }

.skill:nth-child(5) {
  border-color: #461C40; }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .servicesContainer {
    flex-direction: column;
    width: 100%; }
  .languages {
    margin: 0;
    align-self: center; } }

@media (max-width: 480px) {
  .languages {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px; }
  .language {
    width: 49%; }
  .language {
    margin-bottom: 10px; }
  .myServices {
    padding-bottom: 75px; } }

footer {
  min-height: 448px;
  background-image: linear-gradient(rgba(7, 23, 39, 0.9), rgba(7, 23, 39, 0.7)), url("../images/footer.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

footer .wrapper {
  display: flex;
  min-height: 448px; }

.footerMain {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-top: 25px; }

.footerMain img {
  display: block;
  margin-bottom: 25px; }

.footerMain button {
  margin-bottom: 50px; }

.footerMain .socialIcons {
  margin-bottom: 50px; }

.socialIcons a {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 2rem; }

.formEmail {
  width: 100%; }

.formNameInfo {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.footerMain input,
.footerMain button,
.footerMain textarea {
  border: none;
  margin-bottom: 15px;
  background-color: darkslategrey;
  color: white;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: .8rem;
  border-radius: 3px; }

.footerMain textarea {
  width: 100%;
  padding-bottom: 100px; }

.footerMain button {
  padding-right: 10px; }

.footerMain label {
  padding: 16px 30px;
  background-color: darkslategrey;
  border-radius: 4px;
  margin-bottom: 10px; }

.formOff {
  display: none; }

.name {
  width: 100%; }

.formContainerInner {
  margin: auto; }

.formOn {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(7, 23, 39, 0.9);
  align-items: center; }

.footerMain form {
  margin: auto;
  width: 300px;
  height: 300px; }

.closeButton {
  background: none; }

form button {
  display: block; }

.firstName {
  margin-right: 10px; }

.toggleBox:checked ~ form {
  text-transform: uppercase; }

.toggleBox {
  visibility: hidden; }

@media (max-width: 1000px) {
  footer label {
    order: 1;
    margin-top: 10px;
    margin-bottom: 300px;
    display: none; }
  .footerMain > form {
    display: initial;
    position: static;
    width: 80%; } }
