article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: black;
  font-size: 16px; }

.wrapper {
  width: 100%;
  max-width: 1232px;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%; }

h1, h2, h3, h4, p {
  margin: 0; }

a {
  color: black;
  text-decoration: none; }

img {
  display: block;
  width: 100%; }

@keyframes pop {
  50% {
    transform: scale(1.2); } }

/* Portrait tablet and small desktops */
@media (max-width: 850px) {
  .wrapper {
    width: 100%;
    max-width: 850px;
    padding-left: 10%;
    padding-right: 10%; } }

.landingAbout p {
  font-family: 'Asap', sans-serif;
  font-size: 1rem; }

.landingInfo a {
  font-family: 'Asap', sans-serif;
  color: #ac0014;
  font-size: .8rem;
  font-weight: bold; }

.landing h1 {
  font-family: 'Metal Mania', cursive;
  color: black;
  font-size: 2.5rem;
  text-align: center; }

.landingAbout h2,
.landingProjects h2,
.landingSkills h2 {
  font-family: 'Metal Mania', cursive;
  color: black;
  font-size: 2rem;
  letter-spacing: 2px; }

.landingSkillsContainer h4 {
  font-family: 'Pangolin', cursive;
  color: white;
  padding: 1px 2px;
  border-radius: 2px;
  background-color: #ac0014; }

.landing .svg-inline--fa {
  font-size: 2rem; }

.about h1 {
  font-family: 'Metal Mania', cursive;
  color: black;
  font-size: 2.5rem; }

.about h2 {
  font-family: 'Metal Mania', cursive;
  color: black;
  font-size: 2rem;
  letter-spacing: 2px; }

.aboutInfo p {
  font-family: 'Asap', sans-serif;
  font-size: 1rem; }

.redP {
  font-family: 'Asap', sans-serif;
  font-size: 1rem;
  color: #ac0014; }

.projectLanding h1 {
  font-family: 'Metal Mania', cursive;
  color: black;
  font-size: 2.5rem; }

.projectTitle h2 {
  font-family: 'Metal Mania', cursive;
  color: black;
  font-size: 2rem;
  letter-spacing: 2px;
  letter-spacing: normal; }

.projectSkills h4 {
  font-family: 'Pangolin', cursive;
  color: white;
  padding: 1px 2px;
  border-radius: 2px;
  background-color: #ac0014; }

.projectInfo p {
  font-family: 'Asap', sans-serif;
  font-size: 1rem; }

footer h2 {
  font-family: 'Metal Mania', cursive;
  color: black;
  font-size: 2.5rem; }

.aboutInfo button {
  color: white;
  font-family: 'Pangolin', cursive; }

footer .socialIcons a {
  font-size: 2rem; }

.projectButtons button {
  font-family: 'Asap', sans-serif;
  color: #D20E25;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 2px solid;
  transition: border .6s linear;
  background: none;
  border: none;
  padding: 0;
  border-bottom: 2px solid #D20e25;
  margin-bottom: 5px; }

.projects {
  color: black; }

.projectLanding {
  min-height: 5vh;
  display: flex; }

.projectLanding h2 {
  margin: auto; }

.projectHolder {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px; }

.pictureAlignedRight .projectPicture {
  order: 9; }

.projectPicture,
.projectInfoContainer {
  width: 49.5%; }

.projectInfoContainer {
  display: flex;
  align-items: center; }

.projectTitle,
.projectSkills {
  margin-bottom: 10px; }

.projectInfo blockquote {
  margin: 0;
  margin-bottom: 10px; }

.projectTitle {
  display: flex;
  align-items: center; }

.projectTitle img {
  width: 100px;
  margin-right: 15px; }

.projectInfo {
  width: 90%; }

.projectPicture img {
  border: 5px solid #ac0014;
  border-radius: 5px; }

.projectSkills {
  display: flex; }

.projectSkills h4 {
  margin-right: 5px; }

@media (max-width: 850px) {
  .projectLanding {
    justify-content: center; }
  .pictureAlignedRight .projectPicture {
    order: 0; }
  .projectHolder .projectPicture {
    order: 9; }
  .projectHolder {
    flex-direction: column;
    margin-bottom: 50px; }
  .projectPicture {
    margin-bottom: 25px; }
  .projectPicture,
  .projectInfoContainer {
    align-self: center; }
  .projectPicture {
    width: 100%; }
  .projectInfoContainer {
    width: 100%; }
  .projectTitle,
  .projectSkills {
    justify-content: center; } }

.landing .wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center; }

.landingBrand {
  width: 250px;
  margin-right: 8%;
  margin-left: auto; }

.projectButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.landingInfo {
  width: 50%; }

.landingSkillsContainer h4 {
  margin-right: 5px;
  margin-bottom: 2px; }

.landingSocialIcons {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: center; }

.landingSocialIcons button,
.landingSocialIcons a {
  display: block;
  margin-left: 2.5px;
  margin-right: 2.5px; }

.landingSocialIcons button {
  border: none;
  background: none;
  padding: 0; }

.landingSkillsContainer div {
  display: flex; }

.landingLeft {
  display: flex; }

.landingBrand img {
  width: 50%;
  margin: 0 auto; }

.landingInfo > div {
  margin-bottom: 25px; }

.projectButtons button {
  position: relative;
  transition: all .3s ease; }

.projectButtons button:before, .projectButtons button:after {
  font-size: 1.5rem;
  position: absolute;
  top: -15px;
  padding: 10px 10px;
  transition: all .1s ease;
  will-change: transform; }

.projectButtons button:before {
  content: '[';
  left: -20px;
  transform: rotateY(-90deg) scale(0); }

.projectButtons button:after {
  content: ']';
  right: -20px;
  transform: rotateY(90deg) scale(0); }

.projectButtons button:hover:before, .projectButtons button:hover:after {
  transform: rotateY(0deg) scale(1); }

.projectButtons button:hover:before {
  left: -2; }

.projectButtons button:hover:after {
  right: 2; }

.projectButtons button:hover {
  border-color: transparent; }

.landingAbout a:hover,
.landingProjects a:hover,
.landingContact a:hover {
  border-bottom: 2px solid #ac0014; }

.landingSocialIcons a:hover,
.socialIcons a:hover {
  animation: pop 0.3s linear 1; }

@media (max-width: 850px) {
  .wrapper {
    flex-direction: column;
    align-items: initial; }
  .landingBrand {
    margin: auto;
    align-self: center;
    margin-bottom: 25px; }
  .landingInfo {
    width: 100%; } }

.about {
  color: black;
  background: white; }

.about h1 {
  text-align: center; }

.about .aboutContainer {
  display: flex;
  min-height: 95vh; }

.aboutMain {
  margin: auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; }

.headShot {
  width: 48%;
  display: flex;
  background-image: url("../images/redconvert3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left; }

.aboutInfo {
  width: 49.5%; }

.headShot img {
  margin: auto;
  width: 49.5%;
  border: 3px solid #ac0014;
  border-radius: 50%; }

.aboutInfo button {
  padding: 2px 5px;
  background: #ac0014;
  border-radius: 2px;
  width: 100px;
  display: block;
  margin: 0 auto; }

.aboutInfo .Hide {
  display: block;
  display: none;
  width: auto;
  padding: 5px 5px; }

.about h2 {
  margin-bottom: 25px; }

.bM {
  margin-bottom: 25px; }

.aboutThirdSpacing {
  margin-top: 25px; }

@media (max-width: 850px) {
  .aboutMain {
    flex-direction: column; }
  .headShot {
    margin-bottom: 25px; }
  .aboutInfo {
    width: 100%;
    margin: 0 auto; } }

footer {
  color: black;
  background-image: url("../images/convertRed4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left; }

footer .wrapper {
  display: flex;
  min-height: 50vh; }

.footerMain {
  margin: auto;
  align-self: left;
  display: flex;
  align-items: center;
  width: 80%; }

.footerInfo {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center; }

.offSetPic,
.footerInfo {
  width: 50%; }

.offSetPic img {
  object-fit: contain;
  object-position: left;
  max-height: 60vh; }

footer .socialIcons {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: center; }

footer .socialIcons a {
  display: block;
  margin-left: 2.5px;
  margin-right: 2.5px; }
